body{ 
    background-color: #260801;
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: grey;
}

ul{
    display: flex;
    gap: 05px;
    justify-content: start;
    align-items: flex-start;
}

nav{
    position: relative;
    right: 10vw;
    justify-content: start;
}

#banner-gorila {
    background-image: url("../assets/Images/gorilla_bartender_5.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 150vh;
}

main{
    background-color: rgb(247, 180, 13);
    color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 10px;
    text-align: justify;
}
footer{
    background-color: rgb(196, 151, 238);
    padding: 5px;
    border: 2px solid black;
    margin: 10px;
    text-align:center
}

#banner-principal {
    border: 2px solid red;
    width: 100vh;
}

h1{
    background-color: #2608010e;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
    text-align: center;
}

li{
    background-color: aqua;
    transition: 0.3s;
}
nav > ul > li {
    list-style-type: none;
    background-color: #260801;
    padding: 5px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 700;

}

li:hover {
    transform: scale(1.2);
    border-radius: 7px;
    background-color: #59220E;

}
ul > li{
    background-color: blue;

}
li:nth-child(3) {
        background-color: green;
}

/* SELETOR DE ID */

#sobre {
    background-color: white;
}

#cardapio {
    background-color: chocolate;
}

#equipe {
    background-color: cadetblue;
}
#contato {
    background-color: black;
}

/* SELETOR DE CLASSE */
.content {
    background-color: red;    
}

.content:hover {
        background-color: black;
        
}
.content > h2{
    color: blueviolet;
}

#contato > h2{
    color: blueviolet;
}
